<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bluetoothMultiMeter.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>54B301B0A825E836AB172CAB78AEB76E0C37C662</string>
				<key>dateExpires</key>
				<string>5/26/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54B301B0A825E836AB172CAB78AEB76E0C37C662</string>
						<key>dateExpires</key>
						<string>5/26/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DG9XQWC8LH</string>
						<key>name</key>
						<string>Tareq Mansour</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>DG9XQWC8LH.com.tareq.bluetoothMultiMeter</string>
				<key>com.apple.developer.team-identifier</key>
				<string>DG9XQWC8LH</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>bluetoothMultiMeter.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0c384c9f-0f45-4766-9bab-099a48dc8d10</string>
				<key>dateExpires</key>
				<string>5/26/23</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.tareq.bluetoothMultiMeter</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>DG9XQWC8LH</string>
				<key>name</key>
				<string>Tareq Mansour</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
